/* @theme mmexample */

section {
  width: 1280px;
  height: 720px;
  font-size: 36px;
  padding: 40px;
  background: rgb(79, 161, 243);
  color: #212018;
  font-family: Signika,"DejaVu Sans",Arial,Helvetica,sans-serif;
  position: relative;
}

img[alt~="align-right"] {
  float: right;
  margin: 0 auto;
}

/* use on containing element to display images side by side */
.inline-images {
  display: flex;
  height: 80%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

img[alt~="align-bottom"] {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

img[alt~="align-top"] {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}